# GROQ_API_KEY: Groq AI API key for fast, high-quality clinical log reading and symptom insights
GROQ_API_KEY=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

# GEMINI_API_KEY: Optional Gemini API key
GEMINI_API_KEY=MY_GEMINI_API_KEY

# OPENFDA_API_KEY: openFDA Drug API key for medication verification, dosage queries, and drug interaction alerts
OPENFDA_API_KEY=dMid8ZbycgBFvFZJwSWPGi6dISlhHV9Gr7BhId2m

# SERPAPI_API_KEY: SerpApi API key for live Google Maps clinic and hospital searching (https://serpapi.com/search?engine=google_maps)
SERPAPI_API_KEY="MY_SERPAPI_KEY"

